/**
    color theme
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,vietnamese);

body {
    font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

img, a, a:hover, a:link {
    outline:none;
}

a, a:link, a:visited {
    text-decoration:none;
    color:#666159;
}

#hello_section {
    background-color:#d6d0c3;
}

#about_section {
    background-color:#b0ba91;
}

#products_section {
    background-color:#9c3e4b;
}

#contact_section {
    background-color:#592a31;
}

#social_section {
    background-color:#666159;
}

#m_menu {
    position:fixed;
    bottom:0;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}

    #m_menu li {
        float:left;
        width:20%;
        /*background-color:rgba(89,42,49, 0.5);*/
        background-color:rgba(102,97,89,0.5);
        overflow:hidden;
        margin:0;
        padding:0;    
        text-align:center;    
        padding:0.3em 0;
    }

        #m_menu li.active {
            background-color:rgba(255, 255, 255, 0.70);
        }

        #m_menu li a {
            margin:0 auto;     
            font-size:1.5em;   
            display:block;    
        }

        #m_menu li span.desc {
            font-size:0.55em;
            display:block;
        }

.dark #m_menu li a {
    color:#dbdbd4;
}

.dark #m_menu li {
    color:#dbdbd4;
}

.dark #m_menu li.active {
    background-color:rgba(89,42,49, 0.7);
}

#hello_section table {
    height:100%;
    max-width:300px;
}

    #hello_section table tr, #hello_section table td {
        height:100%;
    }

    #hello_section table td {
        vertical-align:middle;
    }

#order_modal {
   display:none;
}

.btn {
    -webkit-box-shadow: 10px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    border:none;
    border-radius:0;
}

.btn-primary {
    background-color:#666159;
}

.btn-primary:hover, .btn-primary:focus {
    background-color:#592a31;
}

.btn-primary:focus{
    background-color:#666159

}

.btn-primary:active:hover{
    background-color:#666159
}

.modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.modal-header, .modal-footer {
    border:none;
}


h4.modal-title {font-family:roboto; font-weight:300;}

.form-control {
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow: none;
}

#hello_section #p1_logo_area {
}

#hello_section #p1_logo_area #p1_logo {
    border:none;
    margin:0 auto;
    display:block;
    max-width:80%;    
    margin-top:-10%;
}

#hello_section #p1_logo_area #p1_products {
    border:none;
    margin:0 auto;
    display:block;
    max-width:50%;    
}

#about_section #p2_products {
    border:none;
    margin:0 auto;
    display:block;
    max-width:1024px;    
}

#products_section #p3_products {
    border:none;
    margin:0 auto;
    display:block;
}

#contact_section #p4_title {
    border:none;
    margin:0 auto;
    display:block;
    max-width:700px;
}

#contact_section_body {
    width:100%;
    display:block;
    border:solid 1px;
    background-image: url('../images/p4_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#hello_section #p1_slogan_area {
    font-size:8em;
    color:#a18a69;
    font-weight:300;
}

.section_inner {
    height:100%;
    width:100%;
    display:block;
}


@media(max-width:767px){

}

@media(min-width:768px){
    #m_menu {
        position: fixed;
        right: 0;
        top: 50%;
        margin-top: -150px;
        width:4.2em;
        margin-right:2px;
    }

    #m_menu li {
        float:none;
        display:block;
        width:100%;
        padding: 5px 0;
    }

    #hello_section #p1_logo_area #p1_logo
    {
        max-width:500px;
        margin-top:0;
    }

    #hello_section #p1_logo_area #p1_products
    {
        max-width:300px;
    }
}
@media(min-width:992px){
    
}
@media(min-width:1200px){

}