header {
  color: red;
}

html {
  font-size: 14px;
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  border: none;
  border-width: 0;
  outline: none;
}

@media (max-width: 575px) {
  .navbar-toggleable-xs .navbar-nav .nav-item {
    border-bottom: dotted 1px #ddd;
  }
  .navbar .container {
    margin: 0;
  }
  .navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar-toggleable-xs .navbar-nav {
    margin-top: 0;
  }
  #img-page01-dalat {
    margin: 1.5rem 0;
  }
  #page-03 {
    min-height: 300px;
    background: url("/v2/res/images/page03-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #img-page03-dichvu {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .navbar-nav .nav-item {
    border-bottom: solid 1px #fff;
    margin-right: 1rem;
  }
  .navbar-nav .nav-item:hover {
    border-bottom: solid 1px #ddd;
  }
  #img-page01-logo {
    width: 85%;
  }
  #img-page01-slogan {
    margin-left: -10%;
    margin-bottom: 1rem;
  }
  #img-page01-dalat {
    margin-top: 2.5rem;
    margin-left: -3rem;
  }
  #page01-padding-01 {
    height: 3rem;
  }
  #page-03 {
    background: url("/v2/res/images/page03-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
  }
  #img-page03-dichvu {
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #page-01 {
    background-color: transparent;
    /*Default bg, similar to the background's base color*/
    background-image: url("/v2/res/images/page01-bg.png");
    background-position: right bottom;
    /*Positioning*/
    background-repeat: no-repeat;
    /*Prevent showing multiple background images*/
    background-position-x: 280%;
    background-position-y: 40%;
  }
  #img-page01-dalat {
    margin-top: 2.0rem;
    margin-left: -10rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #img-page01-dalat {
    margin-top: 1rem;
  }
}

#page-01 {
  background-color: transparent;
  /*Default bg, similar to the background's base color*/
  background-image: url("/v2/res/images/page01-bg.png");
  background-position: right bottom;
  /*Positioning*/
  background-repeat: no-repeat;
  /*Prevent showing multiple background images*/
  background-position-x: 130%;
  background-position-y: 70%;
  background-size: 50%;
}

@media (min-width: 992px) {
  #page-01 {
    background-position-x: 135%;
    background-position-y: 90%;
    background-size: 55%;
  }
  #page-03 {
    background: url("/v2/res/images/page03-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
  }
}

#page-02 {
  margin-top: 3rem;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.fa {
  font-size: 2rem;
}
